# Environment variables
.env
*.env

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class

# Testing & Linting
.pytest_cache/
.coverage
htmlcov/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local High-Performance Data Cache
.cache/
*.parquet
